!!!
%html
  %head
    %meta{ charset:'utf-8' }
    :css
      #dropzone{
        width:800px;
        height:80px;
        border: solid red 3px;
      }
      #svg{
        width:800px;
        height:200px;
        border: solid green 3px;
      }
      #svgText{
        width:800px;
        height:80px;
        border: solid blue 3px;
      }
  %body
    %div#dropzone
    %div#files
    %div#svg.svg
    %div#svgText
  %script{ src:"main.js" }

