!!!
%html{ lang:"ja" }
  %head
    %meta{ charset:'utf-8' }
    :css
      #dropzone{
        border: solid red 3px;
      }
      #svg{
        width:800px;
        height:200px;
        border: solid green 3px;
      }
  %body
    %div#dropzone<>
      %div#svg.svg<>
      %div#png.png<>
  %script{ src:"main.js" }

