!!!
%html{ lang:"ja" }
  %head
    %meta{ charset:'utf-8' }
    :css
      #dropzone{
        background-color:#eee;
      }
      .svg, .png{
        background-color:white;
      }
      #svg_section{
        position:fixed; 
        top:-1000000px;
        left:-1000000px;
      }
      #png-image{
        border: solid #888 1px;
      }
      textarea#json_text{
        width:100%;
        height:5cm;
      }
  %body#dropzone
    %h1 在籍期間タイムライン画像生成ツール
    %p
      詳細については
      %a{ href:"https://github.com/nabetani-z/affiliation-chart/blob/main/README.md" } github の readme.md
      へ。
    %hr
    %p
      ここに jsonファイルをドロップすると、在籍期間タイムライン画像を生成します。
      %br
      その後、URL に json が付加されてリロードによって同じ画像が得られます。
    %section#svg_section
      %h2 SVG
      %div#svg.svg
      %hr
    %h2 PNG
    %p
      以下の画像は PNG です。右クリック → 画像をコピー などで画像を取得できます。
    %div#png.png
      %p#png-prompt
        以下の画像はサンプルです:
      %img#png-image
    %h2 JSON
    %p
      以下の JSON を拡張子 ".json" としてローカルに保存すると上記の PNG のソースとして利用できます。
    %textarea#json_text{ readonly:true }
  %script{ src:"main.js" }

